@import "./components/cards";

body {
  font-family: Helvetica;
  color: #345995;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #345995;
}

.footer {
  font-size: 0.7em;
  text-align: center;
  padding: 5px 0;
}
