<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="Quote Generator">
    <meta property="og:title" content="Quote Generator" />
    <meta property="og:description"
      content="Random Quote generator to practice React, API calls. Made by Ahiiia92" />
    <meta property="og:image"
      content='hassets/stylesheets/screenshot-app.png' />
    <meta property="og:image:width" content='1200' />
    <meta property="og:image:height" content='630' />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description"
      content="Random Quote generator to practice React, API calls. Made by Ahiiia92" />
    <meta name="twitter:text:title" content="Ahiiia92 | Quote Generator" />
    <meta name="twitter:image"
      content="assets/stylesheets/screenshot-app.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Quote Generator</title>
    <!--=============== Favicons ===============-->
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Circle-icons-quote.svg/512px-Circle-icons-quote.svg.png" />

  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
